// Imports ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@import "compass";
@import "compass/reset";

// Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$gutter: 1;
$columns: 12;
$wrap-width: 960px;

// Functions & Mixins ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin col($span, $kolom:$columns) {
	$col: abs(100 - ($kolom - 1) * $gutter) / $kolom;
	width: (($col * $span) + ($gutter * ($span - 1))) * 1%;
	@extend %col;
}

@mixin row($width: $wrap-width) {
	max-width: $width;
	@extend %row;
}

// Placeholders ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
%row {
	position: relative;
	margin: 0 auto;
	width: 100%;
	*zoom: 1;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	& :last-child {
		margin-right: 0 !important;
	}
}

%col {
	float: left;
	display: inline-box;
	min-height: 1px;
	position: relative;
	margin-right: $gutter * 1%;
	> * {
		padding: 0 0.5em;
	}
}

// Box-sizing: border-box ~~~~~~~~~~~~~~~~~~~~~~~~~~~
* {
	@include box-sizing(border-box);
}
