// Functions & Mixins ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin col($span, $kolom:$columns) {
	$col: abs(100 - ($kolom - 1) * $gutter) / $kolom;
	width: (($col * $span) + ($gutter * ($span - 1))) * 1%;
	@extend %col;
}

@mixin row($width: $wrap-width) {
	max-width: $width;
	@extend %row;
}


